.login-container {
  display: grid;
  grid-template-columns: 420px 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: 'image form';
}

.image-container {
  grid-area: image;
  height: 100vh;
  width: fit-content;
}

.image {
  grid-area: form;
  height: 100%;
  width: 420px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.form-box {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 40px;
  margin-bottom: 0;
}

.forgot-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .login-container {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    width: 375px;
    height: 812px;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .form-box {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 100vh;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
  }
}
