.input-field {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.input-field .input-container {
  padding-top: 10px;
}

.valin {
  margin-top: 5px;
  margin-left: 10px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
